<br/>
	<button class="btn btn-info btn-block" (click)="addField('text')">Add Text field</button>
	<button class="btn btn-info btn-block" (click)="addField('number')">Add Number field</button>
	<button class="btn btn-info btn-block" (click)="addField('textarea')">Add Textarea</button>


<br/>
	<button class="btn btn-info btn-block" (click)="reset()">Load empty template</button>
	<button class="btn btn-info btn-block" (click)="loadTemplate('page')">Load page template</button>
	<button class="btn btn-info btn-block" (click)="loadTemplate('contact')">Load contact template</button>