<br/><p><strong>Template edition</strong></p>
<button class="btn btn-info btn-block" (click)="addField('text')">Add Text field</button>
<button class="btn btn-info btn-block" (click)="addField('number')">Add Number field</button>
<button class="btn btn-info btn-block" (click)="addField('textarea')">Add Textarea</button>
<button class="btn btn-info btn-block" (click)="reset()">Reset template</button>


<br/><p><strong>Template loading</strong></p>
<button class="btn btn-info btn-block" (click)="loadTemplate('page')">Load page template</button>
<button class="btn btn-info btn-block" (click)="loadTemplate('contact')">Load contact template</button>


<br/><p><strong>Content loading</strong></p>
<button class="btn btn-info btn-block" (click)="loadTemplate('page-1')">Edit homepage content</button>